@charset "utf-8";
/* CSS Document */
body{margin:0;
	padding:0;
	border:0;
	font-size: 100%;
	vertical-align:baseline;
	background-color:#F7F1CF;}
/* HTML5 display-role reset for older browsers */
main{display: block;}
ol, ul {list-style: none;}

.frontCover p a:hover{color:#507962}/*“关于”鼠标放置变化*/
.button a:hover{opacity:0.7}
.button-one:hover{opacity:0.7;}
.logo:hover{opacity:0.9;}
.link a:hover{opacity:0.6}
.buttonB:hover{opacity:0.7}
/*“选择”鼠标放置变化*/

*{font-family: "黑体";
	color:#412614}
.audio{background-attachment:fixed;}


/*---封面部分---*/
	.frontCover{;text-align: center;
				background-image:url(../img/fengmian.jpg);
				background-size: 100% 100%;
				background-attachment: fixed;
				margin-top: -20px;
				padding-bottom:100%}
	.frontCover p{text-align: right;
					position: fixed;
					width:100%;
					margin-top:8%;}
	.frontCover p a{font-size:18px;
					border:none;
					text-decoration:none;
					color:#412614;margin-right:5px}
	audio{background:#F7F1CF;
		margin-top:5%;
		border-radius:50px;}
/*---封面部分结束---*/

/*---故事开头---*/
	.logo{background-color:#57AE3E;
				text-decoration: none;
				border:none;
				border-radius:30px;
				padding:9px 30px 9px 30px;
		        margin:100% 30% -22% 30%;}
   .logo a{color: #FFFFFF;
	     font-size:18px;
         text-decoration: none;}

	hr{color: #FFFFFF;
		border:none;
		height:1px}
	.story{background-image: url( ../img/headpicture.jpg);
			background-color:#fdfcde;
			background-size:115%;
			margin:12% 10% 5% 10%;
			border-radius:50px;}
	.story p{font-size:13px;
			padding: 9% 9% 17% 9%;
			line-height: 1.5;}

	.button{text-align: center;
			padding-bottom:42px}

	
	.button a{background-color:#f89f35;
				text-decoration: none;
				border:none;
				font-size:18px;
				color: #FFFFFF;
				border-radius:30px;
				padding:7px 15px 7px 15px;
				margin-left:5%;
				margin-right:5%}
	.buttonB a{background-color:#f89f35;
				text-decoration: none;
				border:none;
				font-size:18px;
				color: #FFFFFF;
				border-radius:30px;
				padding:9px 28px 8px 28px;}
    .buttonB{margin-left:35%;}
	.button-one{background-color:#f89f35;
				text-decoration: none;
				border:none;
				font-size:18px;
				color: #FFFFFF;
				border-radius:30px;
				padding:8px 25px 8px 25px;margin-left:35%;margin-bottom:2%;
				cursor: pointer}
/*---故事开头结束---*/

/*---故事第一主要部分---*/
	.firstpart{background-color:#fdfcde;}
	 h1{padding-top:30px;
		font-size:20px;
		 padding-bottom:25px;
		 margin-left:5%;line-height: 1.3}
h3{text-align: center;
	font-size:15px;margin-top: -10px}
h4{text-align: center;
	font-size:15px;margin-top: -35px}
	#develope{margin-top: -30px;
				margin-bottom:-25px}

	.mainchart{margin:3% 13% 2% 13%;}
	.line{margin-top: -50px}
	.firstpart p{margin:5% 6% 2.5% 6%;
				font-size:14px;line-height: 1.5}
	#livetitle{margin-top: -10px;}
	#livetitle p{margin:5% 6% 3% 6%;
					font-size:14px;}

	#tradition{background-color:#fdfcde;}
	.tradionTitle{padding-bottom:20px;
				padding-top:20px}
	.control{line-height: 1.5;margin-top:7%}
    .control2{line-height: 1.5;margin-top:20%}
.control2 p{padding-top:10%;line-height: 1.5}
	.lastCover{;text-align: center;
				background-image:url( ../img/ending.jpg);
				background-size: 100% 100%;
				background-attachment: fixed;
				margin-top: -75px;
				padding-bottom:650px}
	.link a img{border-radius:15px;
			width:25%;
			text-decoration: none;
			border:none;
			margin-left:12%;}
.position1{text-align: center;}
.zhibo{text-align: center;
	margin-bottom:8%;
	margin-top:7%}
h4{text-align: center;
	margin-right:5%;
	margin-bottom: -0.2px}
	/*“返回顶部”*/
	#buttonLast{padding-top:25%;
				margin-bottom: -100%}
	.lineLast{background-color: #fdfcde;
				margin:-45px 0 -50px 0;
				padding:1px 0px 1px 0px}
	.lineLast p{font-size:12px;
			line-height: 1.5;
			text-align: center;}
	.special{margin-top: -10px}
