@charset "utf-8";
/* CSS Document */
body{margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align:baseline;
	background-color:#F7F1CF}
.frontCover p a:hover{color:#507962}/*“关于”鼠标放置变化*/
.frontCover p{text-align: right;
				position: fixed;
				width:100%;
				margin-top:25px;}
.button a:hover{opacity:0.7}/*“选择”鼠标放置变化*/
.button{padding-bottom:42px;}
.button a{background-color:#f89f35;
			text-decoration: none;
			border:none;
			font-size:18px;
			color: #FFFFFF;
			border-radius:30px;
			padding:7px 15px 7px 15px;
			margin-left:50px;
			margin-right:50px}
h1{font-family: "黑体";
	font-size: 20px;
	color:#412614;
	margin-left: 5%;
	padding-top:30px}
.p1{background-color: #f1864c;
	border-radius:30px;
	font-family: "黑体";
	font-size: 15px;
	color:#FFF;
	text-decoration: none;
	border:none;
	padding:5px 50px 5px;
	margin-left: 10%;
	margin-right:20%}
.p2{background-color: #689c63;
	border-radius:30px;
	font-family: "黑体";
	font-size: 15px;
	color:#FFF;
	text-decoration: none;
	border:none;
	padding:5px 50px 5px;
	margin-left: 20%;
	margin-right:10%}
.icon{margin-left: 5%;}
.icon2{margin-left: 5%;}
.p3{font-family: "黑体";
	font-size: 15px;
	color:#412614;
	margin-left: 50%;
	margin-right: 5%;
	margin-top:-130px}
.p4{font-family: "黑体";
	font-size: 10px;
	color:#412614;
	margin-left: 50%;
	margin-right: 5%;
	margin-top:-125px}
.lineLast{background-color: #fdfcde;
				margin:12% 0 0 0;
				padding:1px 0px 1px 0px}
	.lineLast p{font-size:12px;
			line-height: 1.5;
			text-align: center;}